.catalog-main {
  padding-bottom: 20px;
}

.catalog-main__wrapper {
  min-height: 175px;
  background-color: @grey-light;
  text-align: center;
  box-sizing: border-box;
  padding-top: 50px;
}

.catalog-main__title {
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: 1px;
}
@media (min-width: @tablet-width) {
  .catalog-main__title {
    font-size: 43px;
    line-height: 50px;
    margin-top: 46px;
  }

  .catalog-main__wrapper {
    min-height: 225px;
  }
}
@media (min-width: @desktop-width) {
  .catalog-main {
    padding-bottom: 63px;
  }

  .catalog-main__wrapper {
    min-height: 250px;
  }

  .catalog-main__title {
    font-size: 53px;
    line-height: 57px;
    margin-top: 48px;
  }
}
