.catalog-main__wrapper {
  min-height: 175px;
  background-color: @grey-light;
  text-align: center;
  box-sizing: border-box;
  padding-top: 50px;
}

.catalog-main__title {
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: 1px;
}
