.catalog {
width: 320px;
margin: 0 auto;
margin-top: 30px;
padding-left: 30px;
padding-right: 30px;
box-sizing: border-box;
display: flex;
flex-direction: column;
}

.catalog__product {
  width: 260px;
  min-height: 372px;
  border: 1px solid @grey;

  &:nth-child(2) {
    margin-top: 30px;
  }

  &:nth-child(3) {
    margin-top: 30px;
    min-height: 400px;
  }
}

.catalog__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.catalog__description {
  padding-left: 30px;
}

.catalog__name {
  margin: 0;
  margin-top: 23px;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 1px;
}

.catalog__value {
  font-size: 13px;
  line-height: 30px;
  margin: 0;
  margin-top: 7px;
}

.catalog__price {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid @grey;
  margin-top: 18px;
  padding-left: 30px;
  width: 205px;
}

.catalog__product-price {
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 1px;
  margin-top: 20px;
}

.catalog__basket {
  margin-top: 20px;
}
@media (min-width: @tablet-width) {
  .catalog {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 80px;
  }

  .catalog__product {
    display: flex;
    flex-direction: row;
    width: 665px;
    height: 335px;
    margin-bottom: 50px;
  }

  .catalog__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .catalog__description {
    font-size: 20px;
    line-height: 24px;
    width: 250px;
  }

  .catalog__value {
    font-size: 15px;
  }

  .catalog__product-price {
    font-size: 17px;
  }
}
@media (min-width: @desktop-width) {
  .catalog {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;

    & .catalog__product:nth-last-child(1) {
      margin-right: 0;
    }
  }

  .catalog__product {
    flex-direction: column;
    width: 315px;
    min-height: 660px;
    margin-right: 50px;
  }

  .catalog__name {
    font-size: 20px;
  }

  .catalog__basket {
    line-height: 16px;
  }
}
