.contacts {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 56px auto 40px;

  &__email {
    display: flex;
    font-size: 15px;
    line-height: 30px;
    margin-top: 25px;
  }

  &__address {
    display: flex;
    font-size: 15px;
    line-height: 30px;
    margin-top: 32px;
    width: 245px;
  }
}

.contants__wrapper-text {
  margin-left: 28px;
}

.contacts__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: 1px;
}

.contacts__email-link {
  font-size: 15px;
  text-transform: lowercase;
  font-weight: normal;
  border-bottom: 1px solid @green-light;
  margin-left: 35px;

  &:hover {
    color: #77d2c4;
    border-bottom: 1px solid #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__office {
  width: 150px;
  margin: 0 0 0 35px;
}

.contants__wrapper-map {
  margin-top: 38px;
  width: 320px;
  height: 455px;
  background-image: url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 320px auto;

  @media(min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
    background-size: 322px auto;
  }
}

.contacts__wrapper-button {
  margin-top: 39px;
}

.contacts__button {
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0;
  margin-left: 30px;
}

@media (min-width: @tablet-width) {
  .contacts {
    position: relative;
    width: 768px;
    margin: 110px auto 60px;

    &__email {
      align-items: baseline;
      font-size: 17px;
      padding-left: 50px;
      margin-top: 15px;
    }

    &__address {
      font-size: 17px;
      width: 300px;
      margin-left: 65px;
      margin-top: 14px;
    }
  }

  .contants__wrapper-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;
  }

  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    padding-left: 50px;
    width: 768px;

    &::before {
      content: "";
      position: absolute;
      width: 47px;
      height: 81px;
      background: url("../img/icon-flag.svg") no-repeat;
      right: 51px;
      top: 20px;
    }
  }

  .contacts__email-link {
    font-size: 17px;
    line-height: 30px;
    margin-left: 25px;
  }

  .contacts__office {
    width: 220px;
    margin-left: 28px;
  }

  .contacts__button-wrapper {
    text-align: center;
    margin-top: 50px;
  }

  .contacts__button {
    margin: 0;
    width: 230px;
  }

  .contants__wrapper-map {
    margin-top: 57px;
    width: 768px;
    height: 457px;
    background-image: url("../img/map-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: 768px auto;

    @media(min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
      background-size: 768px auto;
    }
  }

  .contacts__map {
    width: 100%;
  }

  .contacts__wrapper-button {
    margin: 55px auto 0;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 142px;
    margin-bottom: 105px;
    padding-left: 275px;
    padding-right: 100px;
    width: 875px;
    align-items: flex-start;

    &__email {
      font-size: 17px;
      padding: 0;
      margin-top: 5px;
      margin-left: 4px;
    }

    &__address {
      font-size: 17px;
      padding: 0;
      margin-top: 29px;
      margin-left: 1px;
    }
  }

  .contacts__title {
    font-size: 53px;
    line-height: 57px;
    padding: 0;
    margin-top: 90px;

    &::before {
      left: 167px;
      top: 81px;
    }
  }

  .contacts__email-link {
    font-size: 18px;
  }

  .contacts__office {
    margin: 0 0 0 30px;
    width: 220px;
  }

  .contacts__wrapper-button {
    margin: 4px 4px 0;
  }

  .contacts__button {
    margin: 75px 0 0;
    width: 230px;
    letter-spacing: 0;
  }

  .contants__wrapper-text {
    flex-direction: column;
  }

  .contants__wrapper-map {
    width: 525px;
    height: 457px;
    position: absolute;
    right: 98px;
    top: -38px;
    background-image: url("../img/map-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: 525px auto;

    @media(min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
      background-size: 1050px auto;
    }
  }
}
