.contacts__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  padding-left: 30px;
}

.contacts {

  &__email {
    font-size: 15px;
    line-height: 30px;
    padding-left: 30px;
  }

  &__address {
    font-size: 15px;
    line-height: 30px;
    padding-left: 30px;
  }
}

.contacts__email-link {
  font-size: 15px;
  text-transform: lowercase;
  font-weight: normal;
  border-bottom: 1px solid @green-light;
}

.contacts__office {
  display: inline-block;
  vertical-align: top;
  width: 150px;
  margin: 0;
}

.contacts__button {
  margin-left: 30px;
}
