.footer {
  margin-top: 40px;
}

.footer__wrapper {
  height: 145px;
  background-color: @grey-light;
  padding-left: 33px;
  padding-right: 30px;
}

.footer_logo {
  display: none;
}

.footer__copyright {
  text-align: center;
  border-top: 1px solid grey;
  margin-top: 27px;
  padding-top: 10px;
}

.footer__text {
  font-size: 19px;
  font-weight: bold;
  line-height: 18px;
  margin-right: 30px;
}

@media (min-width: @tablet-width) {

  .footer {
    margin-top: 58px;
  }

  .footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .footer_logo {
    display: block;
    margin-left: 26px;
  }

  .footer__copyright {
    border-top: none;
    margin-left: -55px;
  }
}

@media (min-width: @desktop-width) {

  .footer {
    margin-top: 105px;
  }
}
