.order-main__wrapper-title {
  min-height: 175px;
  background-color: @grey-light;
  text-align: center;
  box-sizing: border-box;
  padding-top: 50px;
}

.order-main__title {
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: 1px;
}

.order-main__decription {
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 1px;
  margin-left: 30px;
  margin-right: 30px;
}

@media (min-width: @tablet-width) {
  .order-main__wrapper-title {
    min-height: 225px;
  }

  .order-main__title {
    font-size: 43px;
    line-height: 50px;
  }

  .order-main__decription {
    font-size: 17px;
    line-height: 30px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 73px;
  }
}
