.page {
  width: 320px;
  margin: 0 auto;
  font-family: @font-face;
}

@media (min-width: @tablet-width) {
  .page {
    width: @tablet-width;
  }
}

@media (min-width: @desktop-width) {
  .page {
    width: 1150px;
  }
}
