.product {
  padding-left: 30px;
  padding-right: 30px;
}

.product__name {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0;
  margin-top: 25px;
}

.product__product-week {
  font-size: 17px;
  font-weight: bold;
  color: @green-light;
  text-transform: uppercase;
  margin-top: 5px;
}

.product__description {
  font-size: 15px;
  line-height: 24px;
  margin: 0;
  margin-top: 25px;
  width: 245px;
}


.product__feature-list {
  font-size: 15px;
  line-height: 20px;
  border-collapse: collapse;
  margin-top: 12px;
}

.product__ {
  &size,
  &height,
  &color {
    border-bottom: 1px solid @grey;
    padding-bottom: 10px;
    padding-top: 10px;
    letter-spacing: 1px;
  }

  &size-value,
  &height-value,
  &color-value {
    border-bottom: 1px solid @grey;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 23px;
    width: 165px;
  }

  &color-value {
    padding-top: 15px;
  }
}

.product__image {
  margin-top: 30px;
}

.product__price {
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}

.product__link {
  margin-top: 13px;
}
