.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6px;
}

.product__title {
  display: flex;
  flex-direction: column;
}

.product__name {
  position: relative;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1px;
  width: 260px;

  &::before {
    content: "Товар недели";
    position: absolute;
    top: 33px;
    font-size: 17px;
    line-height: 20px;
    color: @green-light;
    text-transform: uppercase;
    letter-spacing: 0;
  }
}

.product__product-week {
  font-size: 17px;
  font-weight: bold;
  color: @green-light;
  text-transform: uppercase;
  margin-top: 5px;
}

.product__description {
  font-size: 16px;
  line-height: 24px;
  margin-top: 28px;
  width: 260px;
}

.product__feature-list {
  font-size: 15px;
  line-height: 20px;
  border-collapse: collapse;
}

.product__options {
  border-bottom: 1px solid @grey;
  padding-bottom: 10px;
  padding-top: 10px;
  letter-spacing: 1px;
}

.product__value {
  border-bottom: 1px solid @grey;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 23px;
  width: 165px;
}

.product__image {
  width: 260px;
  height: 315px;
  margin-top: 28px;

  @media(min-resolution: 144dpi), (min-resolution: 1.5dppx) {

    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 520px auto;
  }
}

.product__price {
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  margin-top: 25px;
  margin-right: 4px;
}

.product__link {
  margin-top: 11px;

  &:hover {
    background-color: @border-btn;
    color: @white;
  }

  &:active {
    color: @btn-active;
  }
}

@media (min-width: @tablet-width) {
  .product__title {
    flex-direction: row;
  }

  .product {
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    align-items: flex-start;
    width: 768px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .product__name {
    font-size: 43px;
    line-height: 50px;
    margin-top: 47px;
    width: 525px;

    &::before {
      content: "Товар недели";
      top: 10px;
      right: -124px;
      width: 81px;
      text-transform: uppercase;
      text-align: center;
      font-size: 17px;
      line-height: 17px;
    }
  }

  .product__product-week {
    display: inline-block;
    width: 85px;
    margin-left: 151px;
    margin-top: 59px;
    line-height: 17px;
    text-align: center;
  }

  .product__image {
    width: 333px;
    height: 404px;
    position: absolute;
    top: 124px;
    right: 50px;

    @media(min-resolution: 144dpi), (min-resolution: 1.5dppx) {

      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 666px auto;
    }
  }

  .product__description {
    font-size: 17px;
    line-height: 30px;
    width: 300px;
    letter-spacing: 1px;
    margin-top: 12px;
  }

  .product__feature-list {
    margin-top: 18px;
  }

  .product__price {
    font-size: 20px;
    line-height: 24px;
    margin-left: 70px;
    margin-top: 58px;
    letter-spacing: 1px;
  }

  .product__link {
    width: 290px;
    font-size: 17px;
    line-height: 20px;
    margin-top: 15px;
  }
}

@media (min-width: @desktop-width) {
  .product {
    position: relative;
    width: 1250px;
    margin-top: 75px;
    padding-left: 275px;
    padding-right: 100px;
  }

  .product__name {
    font-size: 53px;
    line-height: 57px;
    letter-spacing: 1px;
    margin-left: 0;
    margin-top: 50px;
    z-index: 1;

    &::before {
      content: "Товар недели";
      left: -130px;
      top: 15px;
    }
  }

  .product__product-week {
    margin-left: -135px;
    order: -1;
  }

  .product__image {
    width: 525px;
    height: 636px;
    position: absolute;
    top: -32px;
    right: 98px;

    @media(min-resolution: 144dpi), (min-resolution: 1.5dppx) {

      background-image: url("../img/hero-desktop@2x.jpg");
      background-size: 1050px auto;
    }
  }

  .product__description {
    margin-top: 4px;
  }

  .product__feature-list {
    margin-top: 33px;
  }

  .product__price {
    margin-top: 108px;
    margin-left: 73px;
  }

  .product__link {
    margin-top: 15px;
    margin-left: 3px;
  }
}
