.reviews {
  padding-left: 30px;
  padding-right: 30px;
}

.reviews__decription {
  font-size: 15px;
  line-height: 30px;
}

.reviews__name {
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
}

.reviews__email {
  font-size: 17px;
  line-height: 30px;
}

.reviews_button {
  font-size: 0;
}

.reviews__back {
  display: inline-block;
  text-align: center;
  width: 130px;
  height: 50px;
  border: 1px solid grey;
  padding-top: 10px;
  box-sizing: border-box;
}

.reviews__next {
  display: inline-block;
  text-align: center;
  width: 130px;
  height: 50px;
  border: 1px solid grey;
  padding-top: 10px;
  box-sizing: border-box;
}
